* {
    font-family: Hurmit Nerd Font;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}

label#window{
    margin-left: 5px;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    background: rgba(34, 34, 85, 0.6);
    color: #ddddff;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces {
    border-radius: 20;
    background: rgba(34, 34, 85, 0.6);
}

#workspaces button {
    padding: 0 13px 0 10px;
    background: transparent;
    color:  #ddddff;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    background: #222255;
}

#workspaces button.focused {
    border-radius: inherit;
    color: #7871ff;
    background: rgba(34, 34, 85, 0.6);
}

#clock {
    border-radius: 20;
    background: rgba(34, 34, 85, 0.6);
    color: #ddddff;
    padding: 0 10px;
}

#cpu {
    border-radius: 20;
    background: rgba(34, 34, 85, 0.6);
    color: #ddddff;
    padding: 0 10px;
    margin-right: 5;
}

#language {
    border-radius: 20;
    background: rgba(34, 34, 85, 0.6);
    color: #ddddff;
    padding: 0 10px;
}
